/* Header part */

header {
    height: 320px;
    background-color: #23b2ee;
    background-image: url("img/bg.jpg");
    background-size: 100vw ;
}

header .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 100px;
}

header h2 {
    text-align: center;
    color: #dedede;
    font-family: fantasy;
    font-size: 20px;
}

header .line {
    height: 20px;
    background-color: black;
    margin-bottom: 0;
}


/* Body part */

body {
    background-color: #fbfbfb;
}

.content {
    margin-top: 100px;
}

.content q {
    font-size: 30px;
}


/* Footer */

footer {
    margin-top: 50px;
    background-color: black;
    height: 300px;
}


/* Tool */


/* Gestion des lignes et des colonnes */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row .col-2 {
    flex-basis: 45%;
    margin-top: 20px;
}

.row .col-3 {
    flex-basis: 30%;
    margin-top: 20px;
}

.row .col-5 {
    flex-basis: 19%;
    margin-top: 20px;
}

/* Positionnement */

.center {
    text-align: center;
}


/* Image */

.big-image {
    width: 35vw;
}

.medium-image {
    width: 15vw;
}

.small-image {
    width: 10vh;
}


/* Color */

.color-dark-grey {
    color: #5a5a5a;
}
.background-color-light-grey {
    background-color: #e7e7e7;
}

/* Margin */

.mr-20px {
    margin-right: 20px;
}

.mt-150px {
    margin-top: 150px;
}

.mt-20px {
    margin-top: 20px;
}

/* Padding */
.p-20px {
    padding: 20px;
}

/* Link */
a {
    text-decoration: none;
}
.link-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #23b2ee;
    color: white;
}
.link-button:hover {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 27px;
    padding-left: 27px;
    background-color: #23b2ee;
    color: white;
}

/* Center */
input[type=text] {
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    width:40vw;
    height: 4vh;
    border: solid #b1b1ee 1px;
}
textarea {
    margin-top: 10px;
    resize: none;
    border: none;
    border-radius: 20px;
    width:40vw;
    height: 30vh;
    border: solid #b1b1ee 1px;    
}
input[type=text]:hover{
    border: solid blue 1px; 
}

.paragraphe {
    width: 70vw;
    font-size: 20px;
    line-break: auto;
}